$bg-color: rgba(1, 18, 38, 48%);
$border-color: #006199;

.big-screen {
  .n-base-select-menu {
    background-color: $bg-color;
  }

  .n-base-select-option {
    font-size: 12px;
  }

  .n-tag,
  .n-avatar {
    background-color: transparent;
  }

  .n-card {
    background-color: transparent;

    .n-card-header {
      padding: 0;
    }

    .n-card__content {
      padding: 0;
    }
  }

  .n-data-table {
    background-color: transparent;

    .n-data-table-wrapper {
      border-color: $border-color;
    }

    .n-data-table-table {
      background-color: transparent;
    }

    .n-data-table-thead {
      background-color: $bg-color;

      // background: linear-gradient(
      //   to right,
      //   rgba(0, 0, 0, 0%) 10%,
      //   rgba(6, 39, 78, 30%) 20%,
      //   rgba(6, 39, 78, 40%) 30%,
      //   rgba(6, 39, 78, 50%) 40%,
      //   rgba(6, 39, 78, 80%) 50%,
      //   rgba(6, 39, 78, 50%) 60%,
      //   rgba(6, 39, 78, 40%) 70%,
      //   rgba(6, 39, 78, 30%) 80%,
      //   rgba(0, 0, 0, 0%) 90%,
      //   rgba(0, 0, 0, 0%) 100%
      // );

      .n-data-table-th {
        padding: 8px;
        background-color: #12304b;
        border-color: $border-color;

        // border-top-width: 1px;
      }
    }

    .n-data-table-tr {
      &:not(.n-data-table-tr--summary):hover {
        background-color: $bg-color;

        > .n-data-table-td {
          background-color: transparent;
        }
      }

      *.n-data-table-td {
        background-color: transparent;
        border-bottom: 1px solid rgba(1, 60, 94, 50%);
      }
    }
  }

  .n-dialog.small-dialog {
    padding: 0;
    background-color: rgba(1, 18, 38, 90%);
    border: solid 1px $border-color;
    border-radius: 5px;

    .n-dialog__title {
      min-height: 34px;
      padding-left: 25px;
      font-size: 15px;
      background: url('/images/systems/bg_title_.png') no-repeat;
      background-size: cover;
    }

    .n-dialog__close {
      top: -13px;
      right: -13px;
    }

    .n-dialog__content {
      padding: 10px 20px;
    }

    // .n-dialog__action {
    //   padding: 0 20px 20px;
    // }
  }

  .n-dialog.large-dialog {
    width: 1472px;
    padding: 0;
    background-color: rgba(1, 18, 38, 90%);
    border: solid 1px $border-color;
    border-radius: 5px;

    .n-dialog__title {
      align-items: flex-start;
      justify-content: center;
      min-height: 95px;
      padding-top: 13px;
      padding-left: 25px;
      font-size: 18px;
      font-weight: bold;
      background: url('/images/systems/bg_title_bullet_box.png') no-repeat;
      background-size: cover;
    }

    .n-dialog__close {
      top: -13px;
      right: -13px;
    }

    .n-dialog__content {
      padding: 20px;
      margin-top: -40px;
    }
  }

  .div-icon {
    background-color: transparent;
  }

  .viewer-widgets {
    position: relative;
    z-index: 10;

    .widget.location-bar {
      bottom: 80px;
      left: 460px;
      background: transparent;

      .mouse-bar {
        flex-direction: column;
      }

      .camera-bar,
      .ms-bar,
      .fps-bar {
        display: none;
      }
    }

    .widget.distance-legend {
      bottom: 50px;
      left: 450px;
      z-index: 10;
    }

    .widget.compass {
      top: -350px;
      right: 470px;
      transition: all 0.3s ease-in-out;

      .gyro {
        svg {
          width: 17px;
          height: 17px;
        }
      }
    }

    .compass-offset {
      top: 120 !important;
      right: 60px !important;
    }
  }
}
