[submodule "src/components"]
	path = src/components
	url = https://codeup.aliyun.com/60d1e8ad077c732675e5fbb8/screen-module-code/code-components.git
[submodule "src/hooks"]
	path = src/hooks
	url = https://codeup.aliyun.com/60d1e8ad077c732675e5fbb8/screen-module-code/code-hooks.git
[submodule "src/utils"]
	path = src/utils
	url = https://codeup.aliyun.com/60d1e8ad077c732675e5fbb8/screen-module-code/code-utils.git
[submodule "src/plugins"]
	path = src/plugins
	url = https://codeup.aliyun.com/60d1e8ad077c732675e5fbb8/screen-module-code/code-plugins.git
