@font-face {
  font-family: reservoir; /* Project id 3700599 */
  src: url('iconfont.woff2?t=1687229708783') format('woff2'),
    url('iconfont.woff?t=1687229708783') format('woff'),
    url('iconfont.ttf?t=1687229708783') format('truetype');
}

.reservoir {
  font-family: reservoir, sans-serif !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.reservoir-jinggao::before {
  content: '\e600';
}

.reservoir-alarm-full::before {
  content: '\e871';
}

.reservoir-juminjuzhudilunkuo::before {
  content: '\e66b';
}

.reservoir-fangxunxingshibushu::before {
  content: '\e66c';
}

.reservoir-fangxunyingjizhihui::before {
  content: '\e66d';
}

.reservoir-shuiligongchengxinxitongji::before {
  content: '\e66e';
}

.reservoir-shishishujuzhanshi::before {
  content: '\e66f';
}

.reservoir-dituguanli::before {
  content: '\e670';
}

.reservoir-gerenzhongxin::before {
  content: '\e671';
}

.reservoir-shujufuwu::before {
  content: '\e672';
}

.reservoir-gongnengfuwu::before {
  content: '\e673';
}

.reservoir-pingtaiyingyong::before {
  content: '\e674';
}

.reservoir-quyongshuihu::before {
  content: '\e675';
}

.reservoir-shuitubaochizhan::before {
  content: '\e676';
}

.reservoir-shangqingzhan1::before {
  content: '\e677';
}

.reservoir-hewang::before {
  content: '\e678';
}

.reservoir-difangmian::before {
  content: '\e679';
}

.reservoir-bushutu::before {
  content: '\e67a';
}

.reservoir-hechangzhi::before {
  content: '\e67b';
}

.reservoir-difangbiaozhu::before {
  content: '\e67c';
}

.reservoir-kanghongbingli::before {
  content: '\e67d';
}

.reservoir-hechangzhiheduan::before {
  content: '\e67e';
}

.reservoir-jumindi::before {
  content: '\e67f';
}

.reservoir-shuishiyingxiangdian::before {
  content: '\e680';
}

.reservoir-shuiwenzhuanti::before {
  content: '\e681';
}

.reservoir-shengjiquhua::before {
  content: '\e682';
}

.reservoir-difangxian::before {
  content: '\e683';
}

.reservoir-shuiziyuan::before {
  content: '\e684';
}

.reservoir-hechangzhiheduanbiaozhu::before {
  content: '\e685';
}

.reservoir-shijiquhua::before {
  content: '\e686';
}

.reservoir-xiangjiquhua::before {
  content: '\e687';
}

.reservoir-xianjiquhua::before {
  content: '\e688';
}

.reservoir-shuiyuqingjiancedian::before {
  content: '\e689';
}

.reservoir-xuzhihongqu::before {
  content: '\e68a';
}

.reservoir-ruhehupaiwukou::before {
  content: '\e62a';
}

.reservoir-shuikudian::before {
  content: '\e62b';
}

.reservoir-shuilihangyedanwei::before {
  content: '\e62c';
}

.reservoir-shuiku::before {
  content: '\e62d';
}

.reservoir-shuidianzhan::before {
  content: '\e62e';
}

.reservoir-shuilishehuituanti::before {
  content: '\e62f';
}

.reservoir-shuiwenzhan::before {
  content: '\e630';
}

.reservoir-shuiliqiye::before {
  content: '\e631';
}

.reservoir-shuilihangzhengjiguan::before {
  content: '\e632';
}

.reservoir-shuilishiyedanwei::before {
  content: '\e633';
}

.reservoir-shuizha::before {
  content: '\e634';
}

.reservoir-xiangzhenshuiliguanlidanwei::before {
  content: '\e635';
}

.reservoir-xiangjiaoba::before {
  content: '\e636';
}

.reservoir-bengzhan::before {
  content: '\e637';
}

.reservoir-yintiaoshuigongchengdabilichitiaoshui::before {
  content: '\e638';
}

.reservoir-daba::before {
  content: '\e639';
}

.reservoir-gongyeqiyeyongshui::before {
  content: '\e63a';
}

.reservoir-dibiaoshuishuiyuandi::before {
  content: '\e63b';
}

.reservoir-difanggongcheng::before {
  content: '\e63c';
}

.reservoir-gonggonggongshuiqiye::before {
  content: '\e63d';
}

.reservoir-guimohuaxuqinyangzhichang::before {
  content: '\e63e';
}

.reservoir-heliumian::before {
  content: '\e63f';
}

.reservoir-hubo::before {
  content: '\e640';
}

.reservoir-hehuqushuikou::before {
  content: '\e641';
}

.reservoir-heliu::before {
  content: '\e642';
}

.reservoir-jianzhuyeyudisanchanyeyongshui::before {
  content: '\e643';
}

.reservoir-guanqu::before {
  content: '\e644';
}

.reservoir-qudao::before {
  content: '\e645';
}

.reservoir-nongcungongshuigongcheng::before {
  content: '\e646';
}

.reservoir-shuijing::before {
  content: '\e647';
}

.reservoir-yuliangzhan::before {
  content: '\e648';
}

.reservoir-shuikushuiwenzhan::before {
  content: '\e649';
}

.reservoir-shangqingzhan::before {
  content: '\e64a';
}

.reservoir-dixiashuizhan::before {
  content: '\e64b';
}

.reservoir-hedaoshuiwenzhan::before {
  content: '\e64c';
}

.reservoir-hedaoshuiweizhan::before {
  content: '\e64d';
}

.reservoir-aaa::before {
  content: '\e64e';
}

.reservoir-aaa1::before {
  content: '\e64f';
}

.reservoir-aaa2::before {
  content: '\e650';
}

.reservoir-aaa3::before {
  content: '\e651';
}

.reservoir-aaa4::before {
  content: '\e652';
}

.reservoir-aaa5::before {
  content: '\e653';
}

.reservoir-zaihai::before {
  content: '\e654';
}

.reservoir-putongxian::before {
  content: '\e655';
}

.reservoir-shujucaiji::before {
  content: '\e656';
}

.reservoir-shuiweizhan::before {
  content: '\e657';
}

.reservoir-shuizhijiancezhan::before {
  content: '\e658';
}

.reservoir-quyongshuicezhan::before {
  content: '\e659';
}

.reservoir-qiaolianggongcheng::before {
  content: '\e65a';
}

.reservoir-qishiyedanweitiaocha::before {
  content: '\e65b';
}

.reservoir-luhangongcheng::before {
  content: '\e65c';
}

.reservoir-chengzaishuiweidian::before {
  content: '\e65d';
}

.reservoir-tangyanbagongcheng::before {
  content: '\e65e';
}

.reservoir-chengjizhenjumin::before {
  content: '\e65f';
}

.reservoir-yanhecunlarenkou::before {
  content: '\e660';
}

.reservoir-lishishanhongzaihai::before {
  content: '\e661';
}

.reservoir-anzhidian::before {
  content: '\e662';
}

.reservoir-jianyiyuliangzhan::before {
  content: '\e663';
}

.reservoir-zidongjiancezhan::before {
  content: '\e664';
}

.reservoir-jianyishuiweizhan::before {
  content: '\e665';
}

.reservoir-wuxianyujingguangbozhan::before {
  content: '\e666';
}

.reservoir-lishizuigaoshuiweidian::before {
  content: '\e667';
}

.reservoir-xufanghongzhilishanhonggou::before {
  content: '\e668';
}

.reservoir-zhuanyiluxian::before {
  content: '\e669';
}

.reservoir-weixianqu::before {
  content: '\e66a';
}
